%extendSlickDots {
  text-align: center;

  li {
    display: $ib;
    @include margin(2);

    &.slick-active {
      button {
        background-color: $theme;
      }
    }

    button {
      font-size: 0;
      border: $n;
      background-color: darken($white, 20%);
      @include square(12px);
      @include radius(50%);
    }
  }
}

.heroWrapper {
  @include pos(r, null);
  @include fontsize(42);
  padding: f_em(100, 42) 0 0;

  @include media('<=767px') {
    @include fontsize(32);
  }

  @include media('<=575px') {
    padding: f_em(50, 32) 0 0;
  }

  h1 {
    font-weight: 600;
    @include fontsizeEm(42, 42);
  }

  h2 {
    font-weight: 600;
    @include fontsizeEm(30, 42);
  }

  p {
    font-size: 16px;
  }

  .hero {
    @include pos(r, null);
    @include display-flex;
    @include flex-wrap(wrap);
    @include margin-top(40);
    font-size: 16px;
    overflow: hidden;

    @include media('<=1199px') {
      font-size: 14px;
    }

    @include media('<=767px') {
      font-size: 13px;
    }

    &_sections {
      @include padding(50 20);
      @include pos(r, null);
      @include flex(0 0 50%);
      background-color: darken($white, 4%);
      max-width: 50%;

      @include media('<=767px') {
        @include flex(0 0 100%);
        @include padding(30 15);
        max-width: 100%;
      }

      &.left_section {
        @include bg-norepeat('#{$url}hero-t-shirt.png', darken($white, 4%), no-repeat, bottom left, contain);
        @include padding-left(100);

        @include media('<=1023px') {
          @include padding-left(50);
        }

        @include media('<=767px') {
          @include padding-left(15);
        }
      }

      &.right_section {
        color: $white;
        z-index: 1;

        @include media('<=767px') {
          background-color: $theme-alt;
        }

        &:before {
          content: "";
          @include pos(ab, 0 -100% 0 0);
          @include skew(20deg, 0);
          z-index: -1;
          background-color: $theme-alt;
        }
      }

      ._or {
        @include square(60px);
        @include radius(50%);
        @include pos(ab, 0 0 0 null);
        @include translateX(50%);
        z-index: 2;
        margin: $auto;
        line-height: 60px;
        text-align: center;
        background-color: darken($white, 15%);

        @include media('<=767px') {
          top: auto;
          bottom: 0;
          left: 0;
          line-height: 40px;
          @include translateY(50%);
          @include square(40px);
        }
      }

      h3 {
        @include fontsize(24);
        font-weight: 600;
      }

      p {
        @include fontsize(16);
      }
    }
  }
}


// Last Order Section
.lastOrderWrapper {
  @include padding(50 0 0);

  ._blk {
    @include margin(15 0);

    &:after {
      content: '';
      @include pos(ab, 0 0 0 null);
      width: 1px;
      background-color: $theme-light;

      @include media('<=575px') {
        width: auto;
        height: 1px;
        @include pos(ab, auto 15px -15px);
      }
    }

    &:last-child {
      &:after {
        display: $n;
      }
    }

    i {
      @include fontsize(34);
      color: $theme;
    }

    h6 {
      @include margin(10 0 5);
    }

    p {
      color: $theme-grey;
      @include margin-bottom(5);
    }
  }

  hr {
    @include margin(40 0 0);

    @include media('<=575px') {
      @include margin(0);
    }
  }
}

// Products & Template Section
.productTemplatesWrapper {
  @include padding(60 0 50);
  border-bottom: 1px solid darken($white, 15%);

  @include media('<=767px') {
    @include padding(40 0 20);
  }

  ._blks {
    @include padding-top(15);
    @include padding-bottom(15);

    ._imgBlk {
      @include margin-bottom(20);
      @include pos(r, null);
      background-color: darken($white, 20%);
      ._new{
        @include pos(ab, 15px null null 0);
        @include radius(0 4px 4px 0);
        @include fontsize(14);
        @include padding(5 10);
        line-height: 1;
        background-color: $theme;
        color: $white;
        z-index: 1;
      }

      @include media('<=575px') {
        @include margin-bottom(10);
      }
    }

    h6 {
      @include margin-bottom(0);
    }

    p {
      @include margin(0 0 10);
      color: $theme-grey;

      @include media('<=575px') {
        @include margin-bottom(0);
      }
    }
  }
}


// How It Works Section
.howItWorkWrapper {
  @include padding(60 0);

  @include media('<=767px') {
    @include padding(40 0);
  }

  .videoWrap {
    background-color: $black;
    overflow: hidden;
    @include fluid-ratio(16 9, iframe);

    @include media('<=767px') {
      @include margin-bottom(20);
    }

    iframe {
      @include square(100%);
    }
  }

  ._content {
    @include media('>=992px') {
      @include padding-left(30);
    }

    h2 {
      @include fontsize(24);
      @include margin-bottom(30);

      @include media('<=767px') {
        @include margin-bottom(15);
      }
    }
  }

  hr {
    @include margin(80 0 40);

    @include media('<=767px') {
      @include margin(20 0);
    }
  }

  ._blks {
    @include padding-top(15);
    @include padding-bottom(15);

    h6 {
      @include margin(40 0 10);
    }

    p {
      @include margin(0);
    }
  }
}

// Promotion Banner Section
.promotionWrapper {
  @include pos(r, null);
  @include padding(50 0);
  @include bg-norepeat('#{$url}permotion_banner.png', $theme-pink, no-repeat, bottom right, auto 100%);
  overflow: hidden;

  @include media('<=991px') {
    @include padding(30 0);
  }

  h2 {
    @include fontsize(30);
    @include margin-bottom(15);

    @include media('<=991px') {
      @include fontsize(24);
    }

    @include media('<=767px') {
      @include fontsize(20);
    }
  }

  p {}
}


// Integrated Platforms Section
.platformWrapper {
  background-color: darken($white, 5%);
  @include padding(50 0);

  @include media('<=767px') {
    @include padding(30 0);
  }

  .platformContainer {
    background-color: $white;
    @include padding(15 30);

    @include media('<=767px') {
      @include padding(15);
    }

    .detailColumn {
      .logo {
        display: $ib;
        max-width: 230px;
        @include margin-bottom(40);
      }

      p {
        @include margin-bottom(30);
      }

      h6 {
        @include fontsize(14);
        @include margin(5 0 0);

        @include media('<=767px') {
          @include fontsize(12);
        }
      }

      .col {
        @include padding-top(10);
        @include padding-bottom(10);
      }

      ._reviews {
        &:after {
          content: "";
          @include pos(ab, 0 0 0 null);
          border-right: 1px solid $theme-light;
        }

        i {
          @include fontsize(33);
        }
      }

      ._rating {
        @include fontsize(15);
        @include margin(10 0);
        color: $theme-warning;
      }
    }

    .platformList {
      .logoBlk {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        @include padding(15);
        @include margin(15 0);
        width: 100%;
        height: 120px;
        border: 1px solid $theme-light;

        &:hover {
          border-color: $theme;
        }

        img {
          max-height: 75px;
          max-width: 170px;
        }
      }
    }
  }
}


// What Make us Different Section
.locationWrapper {
  @include padding(50 0);

  @include media('<=767px') {
    @include padding(30 0);
  }

  .mapWrap {
    @include fluid-ratio(4 3, svg);
  }

  ._blkRow {
    @include padding(10 0);

    h3 {
      @include fontsize(20);
      color: $black;
    }

    p {
      @include media('<=767px') {
        @include margin-bottom(5);
      }
    }
  }
}

// Doing large Volumne Section
.largeVolumeWrapper {
  background-color: $theme-alt;
  overflow: hidden;

  .columnLeft {
    z-index: 1;

    @include media('<=991px') {
      background-color: darken($white, 5%);
    }

    &:after {
      content: "";
      @include pos(ab, 0 0 0 -100%);
      @include skew(-10deg, 0);
      background-color: darken($white, 5%);
      z-index: -1;

      @include media('<=991px') {
        @include skew(0, -3deg);
        @include transform-origin(top, left);
        left: 0;
      }
    }

    ._arrow {
      @include pos(ab, 100px 0 null null);
      @include fontsize(40);
      @include translateX(50%);
      color: $theme;

      @include media('<=1250px') {
        @include fontsize(30);
      }

      @include media('<=1100px') {
        @include fontsize(20);
      }

      @include media('<=991px') {
        top: 0;
        left: 50%;
        right: auto;
        @include fontsize(15);
        @include transform(rotate(-90deg) translate(30%, -190%));
      }
    }
  }

  .formWrap {
    max-width: 390px;
    margin: $za;
    @include flex(1);
    @include padding(40 0);

    .form-group {
      @include margin-bottom(20);
    }
  }

  ._content {
    max-width: 420px;
    margin: $za;
    color: $white;
    @include padding(90 0 50);

    @include media('<=991px') {
      @include padding(30 0 50);
    }

    h6 {
      @include fontsize(18);
      @include margin-bottom(20);
    }

    ul {
      li {
        @include padding(15 0);
        @include display-flex;

        @include media('<=991px') {
          @include padding(10 0);

          p {
            @include margin-bottom(0);
          }
        }

        .check {
          @include fontsize(23);
          @include flex(0 0 50px);
        }
      }
    }
  }
}

// Our Custom Printed Product Section
.printedProductWrapper {
  @include padding(60 0);

  @include media('<=991px') {
    @include padding(40 0);
  }

  .printedProductSlider {
    .slick-list {
      padding-top: 30px !important;
      padding-bottom: 30px !important;

      @include media('<=991px') {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
      }

      .item {
        background-color: $white;
        @include transition(all 0.5s);
        @include margin(15);

        img {
          @include transition(all 0.5s);
        }

        &.slick-active {
          img {
            @include scale(0.8);
          }
        }

        &.slick-current {
          @include box-shadow(0 0 20px rgba($black, 0.15));
          @include padding(0);

          img {
            @include scale(1);
          }
        }
      }
    }

    .slick-arrow {
      @include square(56px);
      @include radius(50%);
      @include pos(ab, 50% null null);
      @include box-shadow(1px 2px 5px rgba($black, 0.15));
      margin-top: -28px;
      line-height: 56px;
      text-align: center;
      background-color: #f8fcff;
      z-index: 10;

      &.prevArrow {
        left: 0;
        @include translateX(-100%);

        @include media('<=1250px') {
          @include translateX(0);
        }
      }

      &.nextArrow {
        right: 0;
        @include translateX(100%);

        @include media('<=1250px') {
          @include translateX(0);
        }
      }
    }

    .slick-dots {
      @extend %extendSlickDots;
    }
  }
}

// Testimonial Section
.testimonialWrapper {
  @include padding(60 0);
  background-color: $theme-alt;

  @include media('<=991px') {
    @include padding(30 0);
  }

  .testimonialSlider {
    .item {
      @include padding(15);

      @include media('<=767px') {
        @include padding(0);
      }

      .quote {
        @include radius(20px 0);
        @include padding(30);
        @include fontsize(14);
        @include margin-bottom(50);
        background-color: $white;

        strong,
        b {
          font-weight: 600;
        }

        p {
          @include margin(0);
        }
      }

      .postedByWrap {
        @include display-flex;
        @include align-items(center);
        @include pos(r, null);
        color: $white;
        font-size: 14px;

        .arrow {
          @include pos(ab, null null 100% 0);
          @include fontsizeEm(65, 14);
          color: $theme;
        }

        .imgBlk {
          @include square(80px);
          @include radius(50%);
          @include margin-right(20);
          overflow: hidden;
          border: 1px solid $theme;
        }

        h6 {
          @include margin-bottom(0);
        }

        p {
          @include margin-bottom(0);
        }
      }
    }

    .slick-dots {
      @extend %extendSlickDots;

      @include media('<=767px') {
        @include margin-top(15);
      }
    }
  }
}

// Our Users Section
.ourUsersWrapper {
  @include padding(60 0);

  @include media('<=991px') {
    @include padding(30 0);
  }

  ._logoColumns {
    @include padding-top(15);
    @include padding-bottom(15);
  }

  ._logoBlk {
    @include padding(30);
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    min-height: 100%;
    border: 1px solid $theme-light;

    img {
      max-height: 60px;
      max-width: 70%;
    }
  }
}

// Create Account Wrapper Section
.createAccountWrapper {
  @include pos(r, null);
  background-color: $theme-alt;
  overflow: hidden;

  .columnRight {
    z-index: 1;

    @include media('<=991px') {
      background-color: darken($white, 5%);
    }

    &:after {
      content: "";
      @include pos(ab, 0 -100% 0 0);
      @include skew(-10deg, 0);
      background-color: darken($white, 5%);
      z-index: -1;

      @include media('<=991px') {
        @include skew(0, -3deg);
        @include transform-origin(top, left);
        left: 0;
      }
    }

    ._arrow {
      @include pos(ab, 100px null null 0);
      @include fontsize(40);
      @include translateX(-50%);
      color: $theme;

      @include media('<=1250px') {
        @include fontsize(30);
      }

      @include media('<=1100px') {
        @include fontsize(20);
      }

      @include media('<=991px') {
        top: 0;
        left: 50%;
        right: auto;
        @include fontsize(15);
        @include transform(rotate(90deg) translate(-30%, 190%));
        @include transform-origin(center);
      }
    }
  }

  .formWrap {
    max-width: 390px;
    margin: $za;
    @include flex(1);
    @include padding(40 0);

    .form-group {
      @include margin-bottom(20);
    }

    p {
      @include fontsize(14);
    }
  }

  ._content {
    max-width: 500px;
    margin: $za;
    color: $white;
    @include padding(90 0 50);

    @include media('<=991px') {
      @include padding(30 0 50);
    }

    h6 {
      @include fontsize(18);
      @include margin-bottom(20);
    }

    ul {
      li {
        @include padding(15 0);
        @include display-flex;

        @include media('<=991px') {
          @include padding(10 0);

          p {
            @include margin-bottom(0);
          }
        }

        .check {
          @include fontsize(23);
          @include flex(0 0 50px);
        }
      }
    }
  }
}

// Looking For Support Section
.lookingSupportWrapper {
  @include padding(60 0);

  @include media('<=767px') {
    @include padding(30 0);
  }

  .content {
    @include pos(r, null);
    z-index: 1;

    h2 {
      @include fontsize(30);
      @include margin-bottom(20);

      @include media('<=767px') {
        @include fontsize(24);
      }
    }

    p {
      @include margin-bottom(5);
      a{
        text-decoration: underline;
      }
    }

    .icon-comment {
      @include fontsize(150);
      @include pos(ab, 0 null null 0);
      @include translateX(-55%);
      @include opacity(0.05);
      z-index: -1;

      @include media('<=767px') {
        @include translateX(0);
      }
    }
  }
}

// Newsletter Section
.newsletterWrapper {
  @include padding(50 0);
  background-color: $theme-alt;
  color: $white;

  @include media('<=767px') {
    @include padding(30 0);
  }

  .icon {
    @include fontsize(64);
    color: $theme;
  }

  h2 {
    @include fontsize(30);
    @include margin(10 0);

    @include media('<=767px') {
      @include fontsize(22);
    }
  }
}