#footer {
  @include padding-top(55);

  @include media('<=991px') {
    @include padding-top(30);
  }

  @include media('<=575px') {
    text-align: center;
  }

  h6 {
    @include margin-bottom(35);

    @include media('<=1199px') {
      @include margin-bottom(15);
    }

    @include media('<=575px') {
      @include margin-bottom(10);
    }
  }

  ul {
    @include margin-bottom(30);

    li {
      @include padding(5 0);

      a {
        @include fontsize(14);
        color: $black;

        &:hover {
          color: $theme;
          text-decoration: underline;
        }
      }
    }
  }

  .footerBottomWrap {
    @include padding(25 0);
    border-top: 1px solid $theme-light;

    @include media('<=575px') {
      @include padding(15 0 10);
    }

    h6 {
      @include margin(5 0);
    }

    p {
      @include fontsize(14);
      @include margin-bottom(0);
    }

    .goSocial {
      @include media('<=575px') {
        @include margin-top(10);
      }

      a {
        @include fontsize(28);
        @include margin(4);
        line-height: 1;
        display: $ib;
        color: darken($white, 20%);

        &.fb {
          &:hover {
            color: $theme-facebook;
          }
        }

        &.tw {
          &:hover {
            color: $theme-twitter;
          }
        }

        &.insta {
          &:hover {
            color: $theme-instagram;
          }
        }

        &.youtube {
          &:hover {
            color: $theme-youtube;
          }
        }
      }
    }
  }

  .copyRightWrap {
    @include padding(13 15);
    background-color: darken($white, 5%);

    p {
      @include fontsize(14);
      @include margin-bottom(0);
    }
  }
}